<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
              <span class="hide-menu">ReWow </span>
            </a>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PETS</li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <i class="mdi mdi-gauge"></i><span class="hide-menu">Tu Mascota</span>
          </a>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" routerLink="/mascota" aria-expanded="false"><i
              class="mdi mdi-bullseye"></i><span class="hide-menu">Registrar Mascota</span>
          </a>
        </li>
        <!-- <li>
          <a class="has-arrow waves-effect waves-dark"  routerLink="/historial" aria-expanded="false"><i
              class="mdi mdi-bullseye"></i><span class="hide-menu">Historial</span>
          </a>
        </li> -->
        <li class="nav-devider"></li>
        <li>
            <a class="has-arrow waves-effect waves-dark" routerLink="/servicios" aria-expanded="false"><i
              class="mdi mdi-bullseye"></i><span class="hide-menu">Historial</span>
            </a>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark"  routerLink="/tienda" aria-expanded="false"><i
              class="mdi mdi-email"></i><span class="hide-menu">Tienda</span></a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
